<div class="container-body">
  <%= link_to "Create Timesheet Entry", new_timesheet_path,  { :class=>"button-create" } %>
  <h1>Timesheet Entries</h1>
  <% if @timesheets.present? %>
    <p>Timesheets present!</p>
  <% end %>
</div>
