<%= form_for(@timesheet) do |f| %>
  <h2>New Timesheet Entry</h2>
  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date, id: 'datepicker' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
